@{
    ViewData["Title"] = "Elijah's Privacy Policy";
}

<br>
<br>
<br>

<div class="row">
    <!--row-->
    <div class="col">
        <!--col 1-->
        <h2>Privacy Policy for Elijah's Assignments</h2>
        <p>
            At Elijah's Assignments Page, accessible from here, one of our main priorities is the privacy of our visitors.
            This Privacy Policy document contains types of information that is collected and recorded by Elijah and how we use it.
        </p>
        
        <h2>Contact Us</h2>
        <p>If you have any questions or suggestions about our Privacy Policy, do not hesitate to contact us.</p>
    </div><!--Close col-->
</div>
