@model List<Student>
@{
    ViewData["Title"] = "Students Page";
}

<!--
    Author: Elijah Morishita
    Date: 7/4/2023
    Assignments Page
-->
<br>
<br>
<br>
<div class="row">
    <div class="col">
        <!--col 1-->
        <h2>Students</h2>
    </div><!--Close col-->
</div><!--close row-->

<div class="row">
    <div class="col">
        <!--col 1-->
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Student ID</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Grade</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var StudentItem in Model)
                {
                    <tr>
                        <td>@StudentItem.Id</td>
                        <td>@StudentItem.FirstName</td>
                        <td>@StudentItem.LastName</td>
                        <td>@StudentItem.Grade</td>
                    </tr>
                }
            </tbody>
        </table>
    </div><!--Close col-->
</div><!--close row-->

<br>
<br>
<br>

