@model Assignments
@{
    ViewData["Title"] = "Assignments Page";
}


<!--
    Author: Elijah Morishita
    Date: 7/4/2023
    Assignments Page
-->

<br>
<br>
<br>

<div class="row">
    <div class="col"><!--col 1-->
        <div class="mb-2">
            <h2>@Model.AssignmentName</h2>
        </div>
    </div><!--Close col-->
</div><!--close row-->

<div class="row">
    <div class="col"><!--col 1-->
        <div>ID: @Model.AssignmentId</div>
        <div>Access Level: @Model.AccessLevel</div>
        <br>
        <a asp-controller="Home" asp-action="Index">Home</a>
    </div><!--Close col-->
</div><!--close row-->

<br>
<br>
<br>
